body {
}

.Low {
    background-color: green;
}

.Normal {
    background-color: #ff9900;
}

.High {
    background-color: red;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}