@page
@model ToDo.Pages.SignUpModel
@{
}
<form class="position-absolute top-20 start-50 translate-middle-x col-4" asp-page-handler="SignUp" method="post">
    <h2 class="position-relative start-50 translate-middle-x">Sign up</h2>
    <div class="mb-3">
        <label class="form-label">Firstname</label>
        <input type="text" class="form-control" asp-for="Firstname" required>
    </div>
        <div class="mb-3">
        <label class="form-label">Lastname</label>
        <input type="text" class="form-control" asp-for="Lastname" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" asp-for="Username" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password" required>
    </div>
    <input type="submit" value="Sign up"/>
</form>
